In [43]:
#importing modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style("darkgrid")

In [44]:
#importing csv file
df = pd.read_csv("Sleep_health_and_lifestyle_dataset.csv")
df.head()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,None
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,None
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,None
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea

In [45]:
print("[Row,Column]:",df.shape)

[Row,Column]: (374, 13)

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Person ID                374 non-null    int64
 1   Gender                   374 non-null    object
 2   Age                      374 non-null    int64
 3   Occupation               374 non-null    object
 4   Sleep Duration           374 non-null    float64
 5   Quality of Sleep         374 non-null    int64
 6   Physical Activity Level  374 non-null    int64
 7   Stress Level             374 non-null    int64
 8   BMI Category             374 non-null    object
 9   Blood Pressure           374 non-null    object
 10  Heart Rate               374 non-null    int64
 11  Daily Steps              374 non-null    int64
 12  Sleep Disorder           374 non-null    object
dtypes: float64(1), int64(7), object(5)
memory usage: 38.1+ KB

In [47]:
# Replacing Gender
df.replace({"Gender":{"Male":1, "Female":0}},inplace=True)

In [48]:
#Occupation
df.replace({"Occupation":{"Software Engineer":"Others", "Scientist":"Others", "Sales Representative":"Others", "Manager":"Others"}},inplace=True)

In [49]:
df["Occupation"].unique()

array(['Others', 'Doctor', 'Teacher', 'Nurse', 'Engineer', 'Accountant',
       'Lawyer', 'Salesperson'], dtype=object)

In [50]:
#Replacing Occupation
df.replace({"Occupation":{"Doctor":1, "Teacher":2, "Nurse":3, "Engineer":4, "Accountant":5, "Lawyer":6, "Salesperson":7, "Others":8 }},inplace=True)

In [51]:
#Replacing BMI Category
df.replace({"BMI Category":{"Normal":"Normal Weight"}},inplace=True)
df.replace({"BMI Category":{"Overweight":1, "Normal Weight":2, "Obese":3}},inplace=True)

In [52]:
#Replacing Sleep Disorder
df.replace({"Sleep Disorder":{"None":0, "Sleep Apnea":1, "Insomnia":2}},inplace=True)

In [53]:
#Splitting Blood Pressure
df = pd.concat([df,df["Blood Pressure"].str.split("/", expand=True)],axis=1)
df = df.rename(columns={0:"High_BP", 1:"Low_BP"})

In [54]:
# Drop unnecessary columns
df = df.drop(["Person ID"],axis=1)
df = df.drop(["Blood Pressure"],axis=1)

In [55]:
df.head()

,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Heart Rate,Daily Steps,Sleep Disorder,High_BP,Low_BP
0,1,27,8,6.1,6,42,6,1,77,4200,0,126,83
1,1,28,1,6.2,6,60,8,2,75,10000,0,125,80
2,1,28,1,6.2,6,60,8,2,75,10000,0,125,80
3,1,28,8,5.9,4,30,8,3,85,3000,1,140,90
4,1,28,8,5.9,4,30,8,3,85,3000,1,140,90

In [56]:
df.to_csv("Sleep_health_and_lifestyle_dataset.csv")